<div class="p-4">
<div class="d-flex justify-content-between">
  <h1>All Product List</h1>
  <p-button label="Add Product" [raised]="true" severity="success" routerLink="/add-product"/>
</div>
<p-table [value]="products"
         class="w-full" [style]="{'table-layout': 'fixed'}">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:200px">Image</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Weight</th>
      <th>Original Price</th>
      <th>Discounted Price</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.imageUrl}}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.weight }}</td>
      <td>
        <span class="line-through text-gray-500">
          {{ product.originalPrice | currency:'USD' }}
        </span>
      </td>
      <td>
        <span class="font-bold text-green-600">
          {{ product.discountedPrice | currency:'USD' }}
        </span>
      </td>
      <td class="d-flex">
        <p-button icon="pi pi-pencil" class="p-button-sm"
                 (click)="updateProduct(product)"></p-button>
        <p-button icon="pi pi-trash" class="p-button-sm"
                 (click)="removeProduct(product._id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
